
@mixin croppage($img-hauteur){
	.img-crop{
			position: relative;
			width: 100%;
			height: $img-hauteur;
			overflow: hidden;
				img {
						width: 100%;
						height: auto;
						position: absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);
					}
	}
}